body {
	margin: 0;
	overflow-x: hidden;
}

.header-bar {
	display: flex;
	flex-direction: column;
	position: fixed;
	width: 100%;
}

nav {
	background-color: #fffff5;
	display: flex;
	justify-content: space-around;
	margin: 0 auto;
	box-shadow: 0px 0px 20px gray;
	position: fixed;
	width: 100%;
	z-index: 3;
}

.banner {
	padding: 80px 0 0 0;
	display: flex;
	text-align: center;
	position: fixed;
	width: 100%;
	background-color: #b1b3ae;
	z-index: 2;
}

p.pledge {
	text-align: center;
	width: 100%;
}

.nav-left {
	display: flex;
}

.nav-right {
	display: flex;
}

.logo-container {
	display: flex;
	height: 80px;
	content: url('sierra-logo-clear.png');
}

.phonenumber {
	display: flex;
	align-items: center;
	text-decoration: none;
}

.button-container {
	display: flex;
	align-items: stretch;
}

a.nav-button {
	display: flex;
	align-items: center;
	color: gray;
	text-decoration: none;
	background-color: transparent;
	margin: 0px 10px 0px 20px;
}


.nav-button:hover {
	color: #3d6b49;
}

.index-content {
	display: flex;
	flex-direction: column;
	min-height: 1040px;
}

.index-banner {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: url('mountains.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
	margin: 80px 0 0 0;
}

div.announce {
	margin: 200px 40px 100px 40px;
	padding: 30px 30px;
	border-radius: 5px;
	color: #3d6b49;
	background-color: #fffff5;
	max-width: 500px;
	box-shadow: 0px 0px 20px gray;
}

a.announce-button {
	background-color: #3d6b49;
	color: white;
	text-decoration: none;
	padding: 10px;
}

a.announce-button:hover {
	background-color: #83af80;
}

div.testimonials {
	display: flex;
	flex-direction: column;
	align-items: center;
}

div.testimonials > h1 {
	color: #3d6b49;
	padding: 20px;
}

div.testimonial {
	padding: 30px 30px;
	max-width: 60vw;
}

div.testimonial > h4 {
	text-align: right;
}

div.who-content {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

div.what-content {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

h1.who {
	margin: 8rem 0 0 0;
}

p.who {
	margin: 0rem 8rem 0rem 8rem;
	border-radius: 10px;
	padding: 28px;
}

div.owner {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
}

img.owner-photo {
	height: 300px;
}

div.name-wrap {
	display: flex;
	align-items: center;
	padding: 0 113px 0 0;
}

div.contact-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 100px;
}

div.contact-info {
	padding: 60px 0 0 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

a.contact {
	background-color: #3d6b49;
	color: white;
	text-decoration: none;
	padding: 10px;
	margin: 0 0 20px 0;
}

a.contact:hover {
	background-color: #83af80;
}

h1.what {
	margin: 8rem 0 0 0;
}

h1.technology {
	margin: 4rem 0 0 0;
}

p.what {
	margin: 0rem 8rem 0rem 8rem;
	border-radius: 10px;
	padding: 28px;
}

div.tech-grid {
	margin:  0rem 10rem;
	display: grid;
	grid-column-gap: 80px;
	grid-row-gap: 80px;
	grid-template-rows: auto;
	grid-template-columns: 20rem 20rem;
	justify-content: flex-start;
}

div.grid-box {
	display: flex;
}

img.tech {
	object-fit: fill;
	display: block;
	margin: 0 auto;
	max-width: 100%;
}

h1.who {
	margin: 8rem 0 0 0;
}

footer {
	background-color: #f1f1f1;
	text-align: center;
	padding: 10px;
	bottom: 0;
	width: 100%;
	font-size: 10px;
}


@media (max-width: 580px) {

	.logo-container {
		height: 80px;
	}

	.phonenumber {
		display: flex;
		align-items: center;
		text-decoration: none;
		font-size: 10px;
	}

	a {
		font-size: 9px;
	}

	a.nav-button {
		font-size: 12px;
	}

	.index-content {
		padding: 40px 0 0 0;
	}

	div.announce {
		margin: 150px 40px 50px 40px;
		padding: 30px 30px;
	}

	h1 {
		font-size: 20px;
	}

	p {
		font-size: 16px;
	}

	p.pledge {
		font-size: 12px;
	}

	h4 {
		font-size: 18px;
	}

	p.who, p.what {
		margin: 0 20px;
	}

	div.owner {
		display: flex;
		align-items: center;
		padding: 20px;
	}

	img.owner-photo {
		height: 240px;
	}

	div.name-wrap {
		padding: 0 20px 0 0;
	}

	div.tech-grid {
		margin:  0rem 10rem;
		display: grid;
		grid-column-gap: 10px;
		grid-row-gap: 10px;
		grid-template-rows: auto;
		grid-template-columns: 100px 100px 100px;
		justify-content: flex-start;
	}

	div.grid-box {
	}

	img.tech {
		object-fit: contain;
	}
}

@media (max-width: 380px) {

	.logo-container {
		height: 45px;
	}

}

